$TTL 86400
@   IN  SOA dns.homelab.local. root.homelab.local. (
        1   ; Serial
        604800 ; Refresh
        86400  ; Retry
        2419200; Expire
        86400  ; Minimum TTL
)
@   IN  NS  dns.homelab.local.
dns IN  A   {{ ansible_host }}

ansible IN A  192.168.114.150

