options {
    directory "/var/cache/bind";

    recursion yes;
    allow-query { 192.168.114.128/25; 10.0.0.0/16; 10.1.0.0/16; };

    forwarders {
        1.1.1.1;
        8.8.8.8;
    };

    dnssec-validation yes;
    
    allow-recursion { 192.168.114.128/25; 10.0.0.0/16; 10.1.0.0/16; };

    listen-on { any; };
    listen-on-v6 { none; };  # Disable IPv6
};
